/* стили для input */
.inputText {
    /*display: block; !* Устанавливает элемент как блочный (занимает всю доступную ширину) *!*/
    width: 100%; /* Ширина input растягивается на 100% от родительского контейнера */
    height: calc(2.25rem + 2px); /* Высота элемента определяется как 2.25rem + 2px для дополнительной толщины */
    padding: 0.375rem 0.75rem; /* Отступы внутри элемента (вверх/вниз 0.375rem, по бокам 0.75rem) */
    font-family: inherit; /* Наследует шрифт от родительского элемента */
    font-size: 1rem; /* Размер шрифта 1rem (обычный размер) */
    font-weight: 400; /* Вес шрифта (нормальный) */
    line-height: 1.5; /* Межстрочный интервал */
    color: #212529; /* Цвет текста (темно-серый) */
    background-color: #fff; /* Белый фон */
    background-clip: padding-box; /* Фон ограничивается padding, не заходит в рамки */
    border: 1px solid #bdbdbd; /* Рамка с толщиной 1px и светло-серым цветом */
    border-radius: 0.25rem; /* Слегка закругленные углы (0.25rem) */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Плавный переход для цвета рамки и теней */
}