.coub-title {
    position: absolute;
    /* bottom: 70px;  <- убрать */
    /* left: 50%;     <- убрать */
    /* transform: translateX(-50%) scale(1); <- убрать */

    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    animation: fadeInUp 0.2s ease-out forwards;

    width: max-content;
    max-width: 170px;

    word-break: break-word;
    overflow-wrap: break-word;

    display: inline-block;
    text-align: center;
}


/* 🎭 Анимация появления снизу вверх */
@keyframes fadeInUp {
    from {
        transform: translateX(-50%) translateY(10px) scale(0.95);
        opacity: 0;
    }
    to {
        transform: translateX(-50%) translateY(0) scale(1);
        opacity: 1;
    }
}

.cube {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.cube__icon {
    position: absolute;
    top: 41%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #fff;
    pointer-events: none;
}

.delete-button {
    position: absolute;
    top: -6px;
    right: -4px;
    width: 20px;
    height: 20px;

    background: white;
    color: var(--btn-color);
    border: 2px solid var(--btn-color);
    border-radius: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    padding: 0;

    transition: transform 0.15s ease, background 0.15s ease;
}


.delete-button__icon {
    display: block;
    shape-rendering: crispEdges;
    pointer-events: none;
}